<template>      
    <div>
   <p class="red"> i am hero </p>
<h1>kkkkkk</h1>
{{brands}}
<div v-for="b in brands" :key="b._id">{{b.name}}</div>
{{name}}
<button @click="onClick('fff')">ccccc</button>
{{a}}-------------------------{{b}}
</div>
</template>
<script>
    export default  {
        data(){
            return {
a:'ffffff',
b:0,
products:['w','e','r','t'],
brands:[]
            }
        },
        computed:{
            name(){
                return this.a+'===='+this.b
            }
        },
        methods:{
            onClick(x){

                console.log('dddddd',this.a,this.b,x)
            },
            onBlur(){

            }
        },
        async created()
        {
            let b = await this.$axios.get('https://arialshop.com/api/brands')
            this.brands =b.data
console.log('iniytttttt',this.brands)
        }
    }
</script>
<style scoped>
.red{
    color:red;
}
</style>