<template>
    <v-layout row wrap>
    
   <v-flex xs12 md6 lg3 v-for="p in products" :key="p._id">
        <v-card flat hover>
            <v-card-media
            class="white--text"
            height="300px"
            contain
            
            src="/mobile/mi.jpeg">
            </v-card-media>
            <v-card-title>
                <div>
                    <span>{{p.q}}</span><br>
                    <span class="grey--text">3GB RAM</span><br>
                    <span class="bold" >Rs 6900</span>
                </div>
        </v-card-title>
            <v-card-title></v-card-title>
        </v-card>
    </v-flex>
    
    </v-layout>
    
</template>
    <script>
        export default  {
        
            data(){
                return {

                    products:[]
                }
            },
            
            async created()
            {
                let b = await this.$axios.get('https://arialshop.com/api/products')
                this.products =b.data
                console.log('iniytttttt',this.brands)
            }
        };
    </script>

    