<template>
  
  <v-layout fluid >
    <v-flex row wrap>
    <v-card color="red darken-4">
        <v-card-text >
        Sort by<v-btn flat><span>Popularity</span></v-btn>
        <v-btn flat><span>Price low to high</span></v-btn>
        <v-btn flat><span>price high to low</span></v-btn>
        <v-btn flat><span>newest</span></v-btn>
        </v-card-text>
    </v-card>
    </v-flex>
  </v-layout>
  
</template>

