<template>
    <div>
        <!--<div id="app">
  <v-app id="inspire">
    <v-toolbar>
      <v-toolbar-side-icon></v-toolbar-side-icon>
      <v-toolbar-title>Title</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat>Link One</v-btn>
        <v-btn flat>Link Two</v-btn>
        <v-btn flat>Link Three</v-btn>
      </v-toolbar-items>
    </v-toolbar>
  </v-app>
</div>-->

<!--<div id="cards">
  <v-app id="inspire">
    <v-layout>
      <v-flex xs12 sm6 offset-sm3>
        <v-card>
          <v-card-media src="https://vuetifyjs.com/static/doc-images/cards/desert.jpg" height="200px">
          </v-card-media>
          <v-card-title primary-title>
            <div>
              <h3 class="headline mb-0">Kangaroo Valley Safari</h3>
              <div>Located two hours south of Sydney in the <br>Southern Highlands of New South Wales, ...</div>
            </div>
          </v-card-title>
          <v-card-actions>
            <v-btn flat color="orange">Share</v-btn>
            <v-btn flat color="orange">Explore</v-btn>
          </v-card-actions>
        </v-card>
      </v-flex>
    </v-layout>
  </v-app>
</div>-->
<!-- <div v-for="b in products" :key="b._id">{{b.name}}</div> -->
        
  
      
        <!-- Side Filter -->
    <productFilter></productFilter>
    <v-container fluid grid-list-md>
      
    
    
    <one-product></one-product>
   
    
    
    </v-container>
    </div>
</template>
<script>

import oneProduct from './one-product'
import productFilter from './product-filter'

    export default  {
       
        data(){
            return {

            }
        },
        
       components:{
         oneProduct,productFilter
         
       }
    };
</script>