<template>
<div>
  <v-app dark>
      <v-navigation-drawer clipped fixed v-model=" drawer">
          <v-list dense>
              <v-list-tile @click="">
                  <v-list-tile-action><v-icon>dashboard</v-icon></v-list-tile-action>
                  <v-list-tile-content>Dashboard</v-list-tile-content>

              </v-list-tile>
              <v-list-tile @click="">
                  <v-list-tile-action><v-icon>settings</v-icon></v-list-tile-action>
                  <v-list-tile-content>Setting</v-list-tile-content>
              </v-list-tile>
          </v-list>
      </v-navigation-drawer>

  </v-app>
  </div>
</template>
<script>
export default {
  data(){
      drawer: 'true'
  }
}
</script>
