<template>
<div>
<!-- <div style="max-width: 400px; margin: auto;"></div> -->

    <v-container fluid style="min-height:0">
        <v-layout row wrap>
            <v-flex xs-12>
                <v-card color="cyan darken-2" class="white--text">
                    <v-container fluid grid-list-lg>
                        <v-layout row>
                            <v-flex xs7>
                                <div class="headline">Supermodel</div>
                                <div>Foster the pople</div>
                            </v-flex>
                            <v-flex xs5>
                                <v-card-media src="/card/education.jpg"
                                               height="125px" contain>
                                </v-card-media> 
                            </v-flex>
                        </v-layout>
                    </v-container>
                    
                </v-card>
            </v-flex>

        </v-layout>
    </v-container>

</div>
</template>
<script>
export default {
  
};
</script>
